<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>405066664998-00op1sh1ap1bh97tq6ldfk0qhlid3rn9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.405066664998-00op1sh1ap1bh97tq6ldfk0qhlid3rn9</string>
	<key>API_KEY</key>
	<string>AIzaSyD0_Bi76T6fsqrzKexaFzDat92g4OXDkpY</string>
	<key>GCM_SENDER_ID</key>
	<string>405066664998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Rafael-Lucena.Bacon</string>
	<key>PROJECT_ID</key>
	<string>bacon-c6f26</string>
	<key>STORAGE_BUCKET</key>
	<string>bacon-c6f26.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:405066664998:ios:d6d964ebd31ee9aa</string>
	<key>DATABASE_URL</key>
	<string>https://bacon-c6f26.firebaseio.com</string>
</dict>
</plist>